/* header section */
.product-section {
	position: relative;
}
.intro-img {
	position: absolute;
	width: 560px !important;
}
.background {
	width: 195px;
	height: 582px;
	background-color: var(--dark-light);
	position: absolute;
	top: -72px;
	right: 207px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	transform: rotate(45deg);
	-webkit-transform: rotate(59deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	z-index: 1;
}
.slider-content-2 {
	position: relative;
	left: -560px !important;
}
/* information section */
.info-section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	padding-left: 75px;
}
.into-box {
	margin-bottom: 8rem;
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.discount {
	color: var(--golden-color);
}
.intro-product-name {
	color: var(--default-color);
	font-size: 39px;
}
.description {
	color: var(--gray-light);
	font-size: 14px;
}
.shop-btn {
	padding: 10px 15px;
	width: 130px;
	margin-top: 20px;
	background-color: var(--dark-color);
	color: var(--main-bg-light);
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	z-index: 1;
}
.shop-btn:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: ltr;
	z-index: -1;
	background: #4e5052;
	transition: all 0.3s ease;
    border-radius: 5px;
}
.shop-btn:hover {
	color: var(--main-bg-light);
}
.shop-btn:hover:after {
	left: 0;
	right: auto;
	width: 100%;
}
.shop-btn:active {
	top: 2px;
}
